
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add</title>
</head>
<body>
    <form method="post">
        <input type="text" name="num1" placeholder="enter first num">
        <input type="text" name="num2" placeholder="enter second num">
        <input type="submit">

    </form>

    <h1>
        the result is @ViewBag.result
    </h1>
</body>
</html>
