@{
    ViewData["Title"] = "Lab1 Page";
}

<a href="https://localhost:7197/Lab1/add">Add</a>
<br />
<a href="https://localhost:7197/Lab1/show">Show</a>
<br />
<a href="https://localhost:7197/Lab1/students">students</a>
<br />
<a href="https://localhost:7197/Lab1/data">Data</a>






